<footer class="footer">
    <div class="container">
<!-- Slider main container -->

  

        <ul class="footer-nav">
            <li class="footer-nav__item">© 2020</li>
            <li class="footer-nav__item">All Rights Reserved</li>
            <li class="footer-nav__item">
                Developed with 
                <svg class="logo__icon animate__animated animate__heartBeat animate__infinite" width="14" height="14">
                    <use href="./images/icon/sprite.svg#icon-heart"></use>
                </svg>
 
                <button class="button students-button">by GoIT Students</button>
                <!-- Students modal -->
                <div class="students-backdrop is-hidden">
                    <div class="students-modal">
                        <button type="button" class="close-button"><svg class="icon-close"><use href="./images/icon/sprite.svg#icon-close"></use></svg></button>
                        
                            <div class="swiper">
                                <div class="swiper-wrapper">

                            <div class="card-student swiper-slide">
                                <div class="card-student__description">
                                    <p class="card-student__name">Dmytro Ivanenko</p>
                                    <p class="card-student__role"> Team Leader</p></div>
                                    <div class="img-and-icons-container">
                                     <img class="student-photo" src="./images/students/member2.jpg" alt="фото Дмитро Іваненко" />
                                    <div class="card-student__icons"> 
                                    <p><a href="mailto:irnikshu@ukr.net" class="card-student__link">
                                    <svg class="student-icon"><use href="./images/icon/sprite.svg#icon-mail"></use></svg></a></p>
                                    <p><a href="https://github.com/irnikshu" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-github"></use></svg></a></p>
                                    <p><a href="https://www.linkedin.com/in/dmytro-ivanenko-75587025a" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-linkedin"></use></svg></a></p>
                                </div>   
                                    </div></div>
                                    <div class="card-student swiper-slide">
                                        <div class="card-student__description">
                                            <p class="card-student__name">Dmytro Ivanenko</p>
                                            <p class="card-student__role"> Team Leader</p></div>
                                            <div class="img-and-icons-container">
                                             <img class="student-photo" src="./images/students/member2.jpg" alt="фото Дмитро Іваненко" />
                                            <div class="card-student__icons"> 
                                            <p><a href="mailto:irnikshu@ukr.net" class="card-student__link">
                                            <svg class="student-icon"><use href="./images/icon/sprite.svg#icon-mail"></use></svg></a></p>
                                            <p><a href="https://github.com/irnikshu" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-github"></use></svg></a></p>
                                            <p><a href="https://www.linkedin.com/in/dmytro-ivanenko-75587025a" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-linkedin"></use></svg></a></p>
                                        </div>   
                                            </div></div>
                                            <div class="card-student swiper-slide">
                                                <div class="card-student__description">
                                                    <p class="card-student__name">Dmytro Ivanenko</p>
                                                    <p class="card-student__role"> Team Leader</p></div>
                                                    <div class="img-and-icons-container">
                                                     <img class="student-photo" src="./images/students/member2.jpg" alt="фото Дмитро Іваненко" />
                                                    <div class="card-student__icons"> 
                                                    <p><a href="mailto:irnikshu@ukr.net" class="card-student__link">
                                                    <svg class="student-icon"><use href="./images/icon/sprite.svg#icon-mail"></use></svg></a></p>
                                                    <p><a href="https://github.com/irnikshu" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-github"></use></svg></a></p>
                                                    <p><a href="https://www.linkedin.com/in/dmytro-ivanenko-75587025a" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-linkedin"></use></svg></a></p>
                                                </div>   
                                                    </div></div>
                                                    <div class="card-student swiper-slide">
                                                        <div class="card-student__description">
                                                            <p class="card-student__name">Dmytro Ivanenko</p>
                                                            <p class="card-student__role"> Team Leader</p></div>
                                                            <div class="img-and-icons-container">
                                                             <img class="student-photo" src="./images/students/member2.jpg" alt="фото Дмитро Іваненко" />
                                                            <div class="card-student__icons"> 
                                                            <p><a href="mailto:irnikshu@ukr.net" class="card-student__link">
                                                            <svg class="student-icon"><use href="./images/icon/sprite.svg#icon-mail"></use></svg></a></p>
                                                            <p><a href="https://github.com/irnikshu" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-github"></use></svg></a></p>
                                                            <p><a href="https://www.linkedin.com/in/dmytro-ivanenko-75587025a" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-linkedin"></use></svg></a></p>
                                                        </div>   
                                                            </div></div>
                                                            <div class="card-student swiper-slide">
                                                                <div class="card-student__description">
                                                                    <p class="card-student__name">Dmytro Ivanenko</p>
                                                                    <p class="card-student__role"> Team Leader</p></div>
                                                                    <div class="img-and-icons-container">
                                                                     <img class="student-photo" src="./images/students/member2.jpg" alt="фото Дмитро Іваненко" />
                                                                    <div class="card-student__icons"> 
                                                                    <p><a href="mailto:irnikshu@ukr.net" class="card-student__link">
                                                                    <svg class="student-icon"><use href="./images/icon/sprite.svg#icon-mail"></use></svg></a></p>
                                                                    <p><a href="https://github.com/irnikshu" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-github"></use></svg></a></p>
                                                                    <p><a href="https://www.linkedin.com/in/dmytro-ivanenko-75587025a" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-linkedin"></use></svg></a></p>
                                                                </div>   
                                                                    </div></div>
                                                                    <div class="card-student swiper-slide">
                                                                        <div class="card-student__description">
                                                                            <p class="card-student__name">Dmytro Ivanenko</p>
                                                                            <p class="card-student__role"> Team Leader</p></div>
                                                                            <div class="img-and-icons-container">
                                                                             <img class="student-photo" src="./images/students/member2.jpg" alt="фото Дмитро Іваненко" />
                                                                            <div class="card-student__icons"> 
                                                                            <p><a href="mailto:irnikshu@ukr.net" class="card-student__link">
                                                                            <svg class="student-icon"><use href="./images/icon/sprite.svg#icon-mail"></use></svg></a></p>
                                                                            <p><a href="https://github.com/irnikshu" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-github"></use></svg></a></p>
                                                                            <p><a href="https://www.linkedin.com/in/dmytro-ivanenko-75587025a" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-linkedin"></use></svg></a></p>
                                                                        </div>   
                                                                            </div></div>
                                                                            <div class="card-student swiper-slide">
                                                                                <div class="card-student__description">
                                                                                    <p class="card-student__name">Dmytro Ivanenko</p>
                                                                                    <p class="card-student__role"> Team Leader</p></div>
                                                                                    <div class="img-and-icons-container">
                                                                                     <img class="student-photo" src="./images/students/member2.jpg" alt="фото Дмитро Іваненко" />
                                                                                    <div class="card-student__icons"> 
                                                                                    <p><a href="mailto:irnikshu@ukr.net" class="card-student__link">
                                                                                    <svg class="student-icon"><use href="./images/icon/sprite.svg#icon-mail"></use></svg></a></p>
                                                                                    <p><a href="https://github.com/irnikshu" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-github"></use></svg></a></p>
                                                                                    <p><a href="https://www.linkedin.com/in/dmytro-ivanenko-75587025a" class="card-student__link"><svg class="student-icon"><use href="./images/icon/sprite.svg#icon-linkedin"></use></svg></a></p>
                                                                                </div>   
                                                                                    </div></div>
                                   
                        </div>
                       
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                          
                        <div class="swiper-pagination"></div>
                        </div>
                    </div>
                
                </div>
                </div>
            </li>
        </ul>
    </div>
</footer>