<footer class="footer">
    <div class="container">
        <ul class="footer-nav">
            <li class="footer-nav__item">© 2020</li>
            <li class="footer-nav__item">All Rights Reserved</li>
            <li class="footer-nav__item">
                Developed with by
                <svg class="logo__icon animate__animated animate__heartBeat animate__infinite" width="14" height="14">
                    <use href="./images/icon/sprite.svg#icon-heart"></use>
                </svg>
                <span><a href="./index.html">GoIT Students</a></span>
            </li>
        </ul>
    </div>
</footer>