<header class="library-page-header">
  <div class="container">
    <div class="header">
      <nav class="main-nav">
        <a
          class="logo animate__animated animate__bounceInDown"
          href="./index.html"
        >
          <svg
            class="logo__icon animate__animated animate__pulse animate__infinite"
            width="24"
            height="24"
          >
            <use href="./images/icon/sprite.svg#icon-logo"></use>
          </svg>

          <span class="cssanimation lePushReleaseFrom sequence logo-text"
            >Filmoteka</span
          ></a
        >

        <div class="nav-list">
          <ul class="site-nav visually-hidden">
            <li class="site-nav__item">
              <a class="site-nav__link lng-home" href="./index.html">home</a>
            </li>
            <li class="site-nav__item">
              <a class="site-nav__link lng-library" href="./library.html"
                >my library</a
              >
            </li>

            <li class="site-nav__item">
              <a class="site-nav__link lng-login" data-auth-open>Login</a>
            </li>
            <li class="site-nav__item visually-hidden">
              <a class="site-nav__link lng-sing" data-auth-sign-out>Sign out</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class="library-button-wrapper">
        <button type="button" class="watched-btn lng-watch">WATCHED</button>
        <button type="button" class="queue-btn lng-queue">QUEUE</button>
      </div>

      <div class="header-ui-wrapper header-ui-wrapper--library">
        <div class="left-part-settings left-part-settings--library">
          <!-- fullscreen mode -->
          <button class="fullscreen-btn"></button>
        </div>

        <div class="right-part-settings right-part-settings--library">
          <!-- lang settings -->
          <select class="change-lang">
            <option value="ua">UA</option>
            <option value="en">EN</option>
          </select>

          <!-- day-night mode -->
          <label class="mode-label">
            <input type="checkbox" class="mode-checkbox" />
          </label>
        </div>
      </div>
    </div>
  </div>
</header>
