<div class="backdrop-login visually-hidden" data-action>
  <div class="container-signup forms">
    <div class="form login">
      <div class="form-content">
        <h1 class="login-title lng-login">Login</h1>
        <form class="login__form">
          <div class="field input-field">
            <input
              type="email"
              placeholder="Email"
              class="input"
              name="email"
            />
          </div>

          <div class="field input-field">
            <input
              type="password"
              placeholder="Password"
              class="password"
              name="password"
            />
            <i class="bx bx-hide eye-icon"></i>
          </div>

          <div class="field button-field">
            <button class="lng-login">Login</button>
          </div>
        </form>

        <div class="form-link">
          <span class="account"
            >Don't have an account?
            <a href="#" class="link signup-link lng-singup">Signup</a></span
          >
        </div>

        <div class="line"></div>

        <a href="#" class="btn btn-social btn-google"
          ><i class="fa fa-google lng-google"></i> Sign in with Google</a
        >
      </div>
    </div>

    <!-- Signup Form -->

    <div class="form signup">
      <div class="form-content">
        <h1 class="login-title lng-singup">Signup</h1>
        <form class="signup__form">
          <div class="field input-field">
            <input
              type="email"
              placeholder="Email"
              class="input"
              name="email"
            />
          </div>

          <div class="field input-field">
            <input
              type="password"
              placeholder="Create password"
              class="password"
              name="password"
            />
          </div>

          <div class="field input-field">
            <input
              type="password"
              placeholder="Confirm password"
              class="password"
              name="confirm"
            />
            <i class="bx bx-hide eye-icon"></i>
          </div>

          <div class="field button-field">
            <button type="submit" class="lng-singup">Signup</button>
          </div>
        </form>

        <div class="form-link">
          <span class="lng-already"
            >Already have an account?
            <a href="#" class="link login-link lng-login">Login</a></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
