<div class="backdrop-login visually-hidden" data-action>
  <div class="container-signup forms">
    <div class="form login">
      <button class="modal-login-btn">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          x="0px"
          y="0px"
          class=""
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path
            d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
          ></path>
        </svg>
      </button>
      <div class="form-content">
        <h1 class="login-title">Login</h1>
        <form class="login__form">
          <div class="field input-field">
            <input
              type="email"
              placeholder="Email"
              class="input"
              name="email"
            />
          </div>

          <div class="field input-field">
            <input
              type="password"
              placeholder="Password"
              class="password"
              name="password"
            />
            <i class="bx bx-hide eye-icon"></i>
          </div>

          <div class="field button-field">
            <button class="submit-btn">Login</button>
          </div>
        </form>

        <div class="form-link">
          <span class="form-text"
            >Don't have an account?
            <a href="#" class="link signup-link">Signup</a></span
          >
        </div>

        <div class="line"></div>

        <a href="#" class="btn-social btn-google"
          ><i class="fa fa-google"></i> Sign in with Google</a
        >
      </div>
    </div>

    <!-- Signup Form -->

    <div class="form signup">
      <div class="form-content">
        <h1 class="login-title">Signup</h1>
        <form class="signup__form">
          <button class="modal-login-btn">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              class=""
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <path
                d="M 4.7070312 3.2929688 L 3.2929688 4.7070312 L 10.585938 12 L 3.2929688 19.292969 L 4.7070312 20.707031 L 12 13.414062 L 19.292969 20.707031 L 20.707031 19.292969 L 13.414062 12 L 20.707031 4.7070312 L 19.292969 3.2929688 L 12 10.585938 L 4.7070312 3.2929688 z"
              ></path>
            </svg>
          </button>
          <div class="field input-field">
            <input
              type="email"
              placeholder="Email"
              class="input"
              name="email"
            />
          </div>

          <div class="field input-field">
            <input
              type="password"
              placeholder="Create password"
              class="password"
              name="password"
            />
          </div>

          <div class="field input-field">
            <input
              type="password"
              placeholder="Confirm password"
              class="password"
              name="password-confirm"
            />
            <i class="bx bx-hide eye-icon"></i>
          </div>

          <div class="field button-field">
            <button class="submit-btn" type="submit">Signup</button>
          </div>
        </form>

        <div class="form-link">
          <span class="form-text"
            >Already have an account?
            <a href="#" class="link login-link">Login</a></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
