.footer {
}
.container {
}
.footer-nav {
  @extend %list;

  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 28px;
}
.footer-nav__item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #545454;

  & a {
    color: #545454;
  }
}

.footer-nav__item:not(:last-child)::after {
  content: '';
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #545454;
  transform: rotate(90deg);
}
