.footer {
  background-color: var(--footer-background-color);
}
.footer-nav {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 28px;
}
.footer-nav__item {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--footer-nav-color);

  & a {
    color: var(--footer-nav-color);
  }
}
.footer-nav__item:not(:nth-child(n + 3))::after {
  content: '';
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid var(--footer-nav-color);
  transform: rotate(90deg);
}
.footer-nav__item-last {
  text-decoration: none;
  margin-left: 10px;
}
.footer-nav__item-first {
  margin-right: 10px;
}
