.footer {
  background-color: var(--footer-bcg-color);
  color: var(--footer-font-color);
}

.footer-container {
  padding-top: 30px;
  padding-bottom: 28px;
}
.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: currentColor;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
}

.footer-nav__item--line::after {
  content: '';
  display: inline-block;
  height: 14px;
  width: 1px;
  background-color: currentColor;
  margin-left: 10px;
  margin-right: 10px;
}
.footer-nav__item {
  padding-right: 10px;
}

.students-button {
  background-color: transparent;
  border: 0px;
  color: currentColor;
  padding-top: 1px;
}
.footer-link {
  display: inline-block;
  border-bottom: 1px solid currentColor;
}
.footer-nav__item-last {
  text-decoration: none;
  margin-left: 10px;
}
.footer-nav__item-first {
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer-nav__item--line::after {
    height: 12px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .footer-nav {
    font-size: 14px;
    flex-direction: column;
    text-align: center;
  }
}
