.gallery {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 32px;
    gap: 32px;
    padding: 60px 32px;
  }

  @media screen and (min-width: 1280px) {
    column-gap: 16px;
    row-gap: 32px;
    padding: 60px 32px;
  }
}

.photo-card {
  width: 280px;
  border-radius: 5px;
  background-color: $primary-background-color;
  cursor: pointer;
  position: relative;
  transition: transform $transition-duration;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  @media screen and (min-width: 768px) {
    width: 336px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.gallery__image {
  width: 100%;
  height: 402px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    height: 455px;
  }

  @media screen and (min-width: 1280px) {
    height: 574px;
  }
}

.gallery-item-trailer {
  position: absolute;
  height: 42px;
  top: 15px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  border-radius: 0px 5px 5px 0px;
  font-size: 15px;
  cursor: pointer;
  padding: 5px;

  &:hover::after {
    content: 'Дивитись трейлер';
    font-family: $primary-font;
    color: white;
    display: inline-block;
    position: relative;
    top: -10px;
  }
}

.gallery-item-trailer-icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 0;
  fill: $accent-font-color;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 6px 2px 2px 2px;

  @media screen and (min-width: 1280px) {
    row-gap: 4px;
    padding: 8px 2px 2px 2px;
  }
}

.info-title {
  font-size: 12px;
  line-height: 1.1666;
  font-weight: 500;
  text-transform: uppercase;
  color: $primary-font-color;

  @media screen and (min-width: 768px) {
    line-height: 1.333;
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.09;
  }
}

.info-other {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-item {
  font-size: 12px;
  line-height: 1.333;
  font-weight: 500;
  color: $accent-font-color;

  &:not(:last-child)::after {
    content: '';
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid currentColor;
    transform: rotate(90deg);
  }

  @media screen and (min-width: 1280px) {
    font-size: 20px;
    line-height: 1.09;
  }
}

.info-vote-average {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: $accent-font-color;
  border-radius: 5px;
  padding: 3px;
}
