.gallery {
  display: flex;
  flex-direction: column;
  column-gap: 20px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 60px 32px;
    gap: 32px;
    padding: 60px 32px;
  }

  @media screen and (min-width: 1280px) {
    column-gap: 16px;
    row-gap: 32px;
    padding: 60px 32px;
  }
}

.photo-card {
  width: 280px;
  height: 443px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  transition: transform $transition-duration;

  &:hover,
  &:focus {
    transform: scale(1.05);
  }

  @media screen and (min-width: 768px) {
    width: 275px;
    height: 494px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
    height: 634px;
  }
}

.gallery__image {
  width: 280px;
  height: 402px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 574px;
  }
}

.gallery__item {
}

.gallery-item-trailer {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 160px;
  color: $primary-background-color;
  font-size: 15px;
  background-color: $accent-font-color;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 10px;
  background-color: $primary-background-color;
  padding: 20px 10px;
}

.info-title {
  font-size: 15px;
  line-height: 0.7;
  text-transform: uppercase;
  color: $primary-font-color;
}

.info-other {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-item {
  font-size: 15px;
  line-height: 0.7;
  color: $accent-font-color;

  &:not(:last-child)::after {
    content: '';
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid currentColor;
    transform: rotate(90deg);
  }
}
