.library-page-header {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    background-image: url(../images/header/background-header-library-mobile.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/header/background-header-library-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/header/background-header-library-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/header/background-header-library-tablet@2x.jpg);
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/header/background-header-library-desktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: url(../images/header/background-header-library-desktop@2x.jpg);
  }
}

.library-button-wrapper {
  display: flex;
  justify-content: center;

  padding-bottom: 10px;
  gap: 20px;
  padding-bottom: 60px;
  padding-top: 28px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.watched-btn,
.queue-btn {
  width: 130px;
  height: 44px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.333;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--primary-background-color);
  border: 1px solid var(--primary-background-color);
  border-radius: 5px;
  background-color: transparent;
  transition: background-color var(--transition-duration),
    border-color var(--transition-duration);

  @media screen and (min-width: 768px) {
    width: 152px;
  }

  &:focus,
  &:hover {
    background-color: var(--accent-font-color);
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    border-color: var(--accent-font-color);
  }

  &_current {
    background-color: var(--accent-font-color);
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
    border-color: var(--accent-font-color);
  }
}
