.placeholder {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.placeholder__text {
  font-size: 15px;
  line-height: 20px;
  color: var(--primary-font-color);

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 22px;
  }
}
