.library-page-header {
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;

  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/header/background-header-library-mobile@2x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/header/background-header-library-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/header/background-header-library-tablet@2x.jpg);
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/header/background-header-library-desktop.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: url(../images/header/background-header-library-desktop@2x.jpg);
  }
}

.library-button-wrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 60px;
  gap: 16px;
}
.watched-btn,
.queue-btn{
    width: 152px;
    height: 44px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    color:#FFFFFF;
    cursor: pointer;
}
.watched-btn:hover,
.queue-btn:hover{
  background: #FF6B01;
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
}
.change-lang-library{
  display: flex;
  justify-content: flex-end;
}