.change-lang {
  border: none;
  background-color: transparent;
  color: var(--nav-menu-color);
  -webkit-appearance: appearance;
  appearance: none;

  cursor: pointer;
  transition: color var(--transition-duration), scale var(--transition-duration);

  &:hover,
  &:focus {
    scale: 1.2;
    color: var(--active-settings-btn-color);
  }
}
