.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  opacity: 1;
  transition: opacity $transition-duration, visability $transition-duration;
  z-index: 50;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  & .modal {
    transform: translate(-50%, -50%) scale(1.2);
    transition: visibility $transition-duration, transform $transition-duration;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  background-color: $primary-background-color;
  border-radius: 5px;
  width: 806px;
  height: auto;
  padding: 40px 12px;
  transition: transform $transition-duration;
}

.modal-card {
  display: flex;
  flex: 1 0 100%;
}
.modal-card__images {
  flex: 1 0 50%;
  align-self: center;
}
.modal-card__description {
  flex: 1 0 50%;
}
.modal-card__image {
  width: 375px;
  height: 478px;
  object-fit: cover;
  border-radius: 5px;
}
.modal-card__title {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.166;
  color: $primary-font-color;
  margin-bottom: 20px;
}
.modal-card__table {
  width: 100%;
  margin-bottom: 20px;
}
.modal-card__table-row {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $modal-card-font-color;
}
.modal-card__table-data {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $primary-font-color;

  &--grey {
    color: $modal-card-font-color;
  }

  & span {
    display: inline-block;
    text-align: center;
    width: 36px;
    height: 16px;
    background-color: $accent-font-color;
    border-radius: 5px;
  }
}
.modal-card__about {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: $primary-font-color;
}
.modal-card__about-description {
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: $primary-font-color;
  margin-bottom: 20px;
}
.modal-card__btn {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  font-family: $primary-font;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  align-items: center;
  text-align: center;
}
.modal-card__btn-watched {
  width: 136px;
  height: 44px;
  border-radius: 5px;
  text-transform: uppercase;
  color: $primary-background-color;
  background-color: $accent-font-color;
  cursor: pointer;
}
.modal-card__btn-queue {
  width: 136px;
  height: 44px;
  border-radius: 5px;
  text-transform: uppercase;
  color: $primary-font-color;
  background-color: transparent;
  cursor: pointer;
}

.modal__btn-close {
  color: $primary-font-color;
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid $primary-font-color;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  transition: $transition-duration;

  &:active {
    opacity: 0.8;
    transform: scale(0.95);
  }

  &:focus,
  &:hover {
    border-color: $accent-font-color;
  }

  &:focus .modal__icon-close,
  &:hover .modal__icon-close {
    fill: $accent-font-color;
  }
}
