.mode-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  display: inline-block;
  width: 65px;
  height: 30px;
  outline: none;
  border: 0px;
}

.mode-checkbox:checked {
  background-image: url('../images/sun-mode.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}
.mode-checkbox {
  width: 30px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  background-image: url('../images/moon-mode.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.mode-label {
  display: flex;
  justify-content: center;
  align-items: center;
}
