header {
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;

  // mobile img
  @media screen and (max-width: 767px) {
    background-image: url(../images/header/background-header-mobile.jpg);
    margin-bottom: 40px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: url(../images/header/background-header-mobile@2x.jpg);
  }

  // tablet img
  @media screen and (min-width: 768px) {
    background-image: url(../images/header/background-header-tablet.jpg);
    margin-bottom: 30px;
    height: 216px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: url(../images/header/background-header-tablet@2x.jpg);
  }

  // desktop img
  @media screen and (min-width: 1280px) {
    background-image: url(../images/header/background-header-desktop.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: url(../images/header/background-header-desktop@2x.jpg);
  }
}

.main-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 50px 20px;

  @media screen and (min-width: 768px) {
    padding: 40px 20px;
  }

  @media screen and (min-width: 1280px) {
  }
}

.logo {
  @extend %link;

  display: flex;
  gap: 10;
  align-items: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.166;
  color: var(--nav-menu-color);
  transition: color var(--transition-duration);
}

.logo__icon {
  stroke: currentColor;
  fill: transparent;
}

.logo-text {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}

.site-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 39px;
  }
}

.site-nav__item {
  @extend %list;
}

.site-nav__link {
  @extend %link;

  font-family: 'Roboto';
  font-style: normal;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--nav-menu-color);
  transition: color var(--transition-duration);
  position: relative;
  cursor: pointer;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &:focus,
  &:hover {
    color: var(--accent-font-color);
  }
}

// user settings wrapper
.header-ui-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: nowrap;
  position: relative;
  z-index: 50;

  @media screen and(max-width:767px) {
    height: 35px;
    gap: 40px;
    transform: translateY(70px);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
}

// settings buttons
.left-part-settings,
.right-part-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100px;

  @media screen and(max-width:767px) {
    gap: 40px;
  }
}

.left-part-settings {
  @media screen and (min-width: 768px) {
    transform: translate(-210px, -35px);
  }

  z-index: 50;
}

.right-part-settings {
  @media screen and (min-width: 768px) {
    transform: translate(207px, -35px);
  }
}

// search form
.container-select {
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0px 40px;

  position: relative;
}

.search-result {
  display: block;
  height: 16px;
  width: 100%;

  padding-top: 10px;

  text-align: center;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.142;
  color: var(--search-result-color);

  transform: translateY(-26px);
}

.search-form-input {
  width: 280px;
  padding: 0.5em 1em 0.5em 0em;

  border: none;
  border-bottom: 0.5px solid #fff;

  font-size: 16px;
  line-height: 1.5;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  color: var(--search-font-color);

  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%23FFFFFF' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
  background-repeat: no-repeat;
  background-position: 374px 10px;
  background-size: 20px 20px;

  transition: transform var(--transition-duration);

  @media screen and (max-width: 767px) {
    background-position: 220px 10px;
  }

  @media screen and (min-width: 768px) {
    width: 336px;
    background-position: 315px 10px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
    background-position: 374px 10px;
  }
}

.search-form-input::placeholder {
  color: var(--nav-menu-color);
}

.search-form-input:active,
.search-form-input:hover {
  transform: scale(1.05);
}

.search-form-input:focus {
  outline: none;

  text-shadow: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'><path fill='%238C92A0' d='M13.22 14.63a8 8 0 1 1 1.41-1.41l4.29 4.29a1 1 0 1 1-1.41 1.41l-4.29-4.29zm-.66-2.07a6 6 0 1 0-8.49-8.49 6 6 0 0 0 8.49 8.49z'></path></svg>");
}
