.container-signup {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: 30px;
}
.form {
  position: absolute;
  max-width: 430px;
  width: 100%;
  padding: 30px;
  border: 1px solid black;
  border-radius: 6px;
  background: #fff;
}
.form.signup {
  opacity: 0;
  pointer-events: none;
}
.forms.show-signup .form.signup {
  opacity: 1;
  pointer-events: auto;
}
.forms.show-signup .form.login {
  opacity: 0;
  pointer-events: none;
}

form {
  margin-top: 30px;
}
.form .field {
  position: relative;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  border-radius: 6px;
}
.field input,
.field button {
  height: 100%;
  width: 100%;
  border-style: hidden;
  font-size: 16px;
  font-weight: 400;
  border-radius: 6px;
}
.field input {
  outline: none;
  padding: 0 15px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #8b8b8b;
  cursor: pointer;
  padding: 5px;
}

.form-link {
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 400px) {
  .form {
    padding: 20px 10px;
  }
}

// ******
.backdrop-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  opacity: 1;
  transition: opacity var(--transition-duration),
    visability var(--transition-duration);
  z-index: 70;
}

.line {
  border-bottom: 1px solid #cacaca;
  margin: 15px 0px;
}

.login-title {
  text-align: center;

  font-family: var(--primary-font);
  color: var(--primary-font-color);
}

.visually-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity var(--transition-duration),
    visability var(--transition-duration);
}

.input-field {
  box-shadow: 2px 2px 6px 0px rgba(142, 142, 142, 1);
}

::placeholder {
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  opacity: 0.7;
  transition: var(--transition-duration);
}

.modal-login-btn {
  color: var(--primary-font-color);
  width: 27px;
  height: 27px;
  border: 1px solid var(--primary-font-color);
  cursor: pointer;
  transition: var(--transition-duration);
  background-color: #0000;
  border-radius: 50%;
  outline: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;

  &:focus,
  &:hover {
    border-color: var(--accent-font-color);
    fill: var(--accent-font-color);
  }
}

input {
  transition: var(--transition-duration);
  &:focus,
  &:hover {
    box-shadow: 4px 4px 6px 0px var(--accent-font-color);
    transform: scale(1.05);
  }
}

.submit-btn {
  font-family: var(--primary-font);
  color: var(--primary-font-color);
  box-shadow: 2px 2px 6px 0px rgba(142, 142, 142, 1);

  transition: var(--transition-duration);
  cursor: pointer;

  &:focus,
  &:hover {
    box-shadow: 4px 4px 6px 0px var(--accent-font-color);
    transform: scale(1.05);
    color: var(--accent-font-color);
  }
}

.form-text {
  font-family: var(--primary-font);
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-font-color);
}

.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;

  color: #0171d3;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.fa-google {
  padding-right: 5px;
}

.signup-link {
  color: #0171d3;
}
.login-link {
  color: #0171d3;
}
