.students-button {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid var(--footer);
}
.students-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.button {
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.students-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  border-radius: 5px;
  border: 1px solid #888;
  width: 90%;
  height: 85%;
  padding: 30px;
  background-color: #888;
  background-image: linear-gradient(
    to bottom,
    rgba(248, 248, 194, 0.496),
    rgb(198, 175, 133) 30%,
    rgb(187, 187, 186)
  );
}

.card-student {
  display: flex;
  flex-direction: column;
}

.card {
  display: block;
}

.card-student__description {
  margin-bottom: 20px;
  text-align: center;
}

.card-student__icons {
  position: absolute;
  right: 120;
  bottom: 70;
  display: flex;
  flex-direction: column;

  margin-top: 20px;
}
.card-student__name {
  font-size: 30px;
  font-weight: 900;
  font-family: 'Roboto';
  font-style: normal;
}

.card-student__profession {
  font-size: 32px;
  font-weight: 500;
  font-family: 'Roboto';
  font-style: normal;
}

img {
  width: 270px;
  height: 320px;
  object-fit: cover;
}

.card-student__link:hover,
.card-student__link:focus {
  color: #2196f3;
}

.card-student__link {
  color: #757575;
}

.student-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  transition-property: transform;
  transition-duration: 2000ms;
}

.student-icon:hover {
  transform: scale(1.5);
}

.close-button {
  position: absolute;
  top: 8;
  right: 8;
  z-index: 5;
  border: 0;
  background-color: transparent;
}

.icon-close {
  stroke: black;
  display: inline-block;
  width: 30px;
  height: 30px;
}

// name and role
.card-student__description {
  margin-bottom: 20px;
  text-align: center;
}
.card-student__name {
  font-size: 28px;
  font-weight: 900;
  font-family: 'Roboto';
  font-style: normal;
  color: black;
}

.card-student__role {
  font-size: 25px;
  font-weight: 500;
  font-family: 'Roboto';
  font-style: normal;
  color: black;
}
// ----------------------

// img-and-icons
.img-and-icons-container {
  position: relative;
  width: auto;
  height: auto;

  overflow: hidden;
  
    &:hover .students-list__text-descr {
      opacity: 1;
      transform: translateY(0);
    }
}

.student-photo {
  display: block;
  margin: 0 auto;

  // position: relative;
  //   overflow: hidden;
  
  //   &:hover .students-list__text-descr {
  //     opacity: 1;
  //     transform: translateY(0);
  //   }
}

.card-student__icons {
  position: absolute;
  right: 16;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

img {
  width: 270px;
  height: 320px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.student-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  transition-property: transform;
  transition-duration: 1000ms;
}

.student-icon:hover {
  transform: scale(1.5);
}
// ----------------------------

// swiper
.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--accent-font-color);
}

.swiper .swiper-wrapper {
  margin-bottom: 60px;
}
.swiper .swiper-pagination{
  margin-bottom: 15px;
}
.swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--accent-font-color);
 
}

.students-list__text-descr{
    // background-color: var(--accent-font-color);
    background-image: linear-gradient(to bottom,
          rgba(248, 248, 194, 0.496),
          rgb(198, 175, 133) 30%,
          rgb(187, 187, 186));
      width: 87%;
      height: 50%;
      position: absolute;
      bottom: 0;
      opacity: 0;
      right:0;
      padding-right: 10%;
    
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.students-list__cards-descr{
  font-size: 12px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    font-weight: 400;
    color: #000000;
    padding: 43px 24px;
}

