.students-button {
  background-color: transparent;
  border: 0px;
  border-bottom: 1px solid var(--footer);
}
.students-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.button {
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.students-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  border-radius: 5px;
  border: 1px solid #888;
  max-width: 90%;
  padding: 30px;
  background-color: #888;
  background-image: linear-gradient(
    to bottom,
    rgba(248, 248, 194, 0.496),
    rgb(198, 175, 133) 30%,
    rgb(187, 187, 186)
  );
}

@media (min-width:550px) and (max-width:767px) {
  .students-modal {
    max-width: 75%;
  }
}

.card-student {
  display: flex;
  flex-direction: column;
 max-width: 360px;

}

.img-and-icons-container {
  position: relative;
  max-width: 270px;
  height: 320px;
  margin: 0px 45px;

}
.img-and-icons-container:hover .students-list__cards-descr{
   display: inline-block;
      opacity: 1;
      transform: translateY(0%);
      height: auto;
      padding-top: 15px;
      padding-bottom: 15px;
}



@media (max-width:767px){
  .card-student {
     max-width: 100%;
   
  }

  .img-and-icons-container {
    margin: 0 auto;
  }
}

@media(min-width:768px) and (max-width:1023px){
  .card-student {
     max-width: 50%;
   
  }}

  @media  (min-width:1024px) and (max-width:1500px){
    .card-student {
       max-width: 33.3333%;
     
    }}
    @media  (min-width:1501px){
      .card-student {
         max-width: 25%;
       
      }}


.card-student__link:hover,
.card-student__link:focus {
  color: #2196f3;
}

.card-student__link {
  color: #757575;
}

.student-icon {
  display: inline-block;
  width: 25px;
  height: 25px;
  transition-property: transform;
  transition-duration: 2000ms;
}

.student-icon:hover {
  transform: scale(1.5);
}

.close-button {
  position: absolute;
  top: 8;
  right: 8;
  z-index: 5;
  border: 0;
  background-color: transparent;
}

.icon-close {
  stroke: black;
  display: inline-block;
  width: 30px;
  height: 30px;
}


// name and role

.card-student__description {
  margin-bottom: 20px;
  text-align: center;
  color: var(--primary-font-color);
}
.card-student__name {
  width: auto;
  font-size: 28px;
  font-weight: 900; 
}

.card-student__role {
  width: auto;
  font-size: 25px;
  font-weight: 500;
}


.student-photo {
  display: block;
  width: 100%; 
  height: 320px;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;}

.students-list__cards-descr{
  position: absolute;
      bottom: 0;
      left: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 55px;
  padding-left: 15px;
  width: 120%;
  height: 0px;
  overflow: hidden;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1000ms linear, transform 1000ms linear, height 1000ms linear, padding-top 1000ms linear, padding-bottom 1000ms linear;
  font-size: 13px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  font-weight: 400;
  color: #000000;
  background-image: linear-gradient(to bottom,
          rgba(248, 248, 194, 0.496),
          rgb(198, 175, 133) 30%,
          rgb(187, 187, 186)); 
}

.card-student__icons {
  position: absolute;
  right: -40;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.student-icon {
  width: 30px;
  height: 30px;
  transition-property: transform;
  transition-duration: 1000ms;
}


.student-icon:hover {
  transform: scale(1.5);
}


// Swiper

.swiper .swiper-wrapper {
  margin-bottom: 70px;
//   display: flex;
// flex-basis: 390px;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  color: var(--accent-font-color);
}
// .swiper-button-prev{
//   height: 10px;
// }
.swiper .swiper-pagination{
  margin-bottom: 15px;
}
.swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: var(--accent-font-color);
}

// ----------------------------------------------

@media (max-width: 455px){

  .card-student__name {
    font-size: 24px;}

    .card-student__role {
      font-size: 20px;}

  .card-student__icons {
 bottom: -40;
 right: 29%;
 flex-direction: row;
    
}
.student-icon {
  width: 25px;
  height: 25px;
}
.swiper .swiper-wrapper {
  margin-bottom: 90px;
}

.swiper .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next{
top: 90%;
}
}